.container {
	width: 600px;
	margin: 0 auto;
	background-color: purple;
	text-align: center;
}

body {
	background: pink;
	vertical-align: middle;
	display: table-cell;
}

html {
	display: table;
	margin: auto;
}

* {
	box-sizing: border-box;
}

.grid {
	margin: 1em 0;
	cursor: pointer;
	width: 600px;
	height: 600px;
	box-shadow: 2px 2px 4px #000000;
	background-color: white;
	text-align: center;
}

.griditem {
	background: blue;
	border: 1px white solid;
	height: 5px;
	width: 5px;
	float: left;
}

.griditem:hover {
	background-color: green;
}

.shaded {
	background-color: purple;
}