#container {
	background-color: pink;
	display: grid;
	grid-template-columns: repeat(16, 30px);
	justify-content: center;
}

.grid {
	border: 1px white solid;
	background-color: blue;
	height: 30px;
	width: 30px;
}

.grid:hover {
	background-color: green;
}

.hover {
	background-color: purple;
}